fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
python-multipart
httpx
aiosmtplib==3.0.1
jinja2==3.1.4
apscheduler==3.10.4

gunicorn==21.2.0
pytest
pytest-asyncio
